html {
  margin: 0;
  padding: 0;
}

body {
  color: red;
  font-size: 18pt;
}

li {
  color: purple;
}

h2 { 
font-family: sans-serif;
border-width: 1px;
border-style: dotted;
border-color: purple;
padding-top: 20px;
  color: lightgreen;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 768px) {
  div.example {
    font-size: 50%;
  }
}
.second {
  color: yellow;
}

#lab-title {
  color: brown;
  font-size: 24pt;
}

.list-item {
  background-color: pink;
}

.list-item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.img{
width: 100%;
height: auto;
background: url(purepng.com-yellow-ferrari-f12tdf-carcarferrarivehicletransport-961524651506yer9b.png);
background-position: center center;
}

div[title] {
background-color: lightgray;
}

p::first-letter {
color: red;
}
p::first-line {
color: black;
}
p::selection {
color: red;
background: yellow;
}

#margin{
  margin-left: 200px;
}

div{
    background-image:linear-gradient(to right, orange,yellow);
    padding-top:50px;
    padding-bottom:30px;
    border-radius:10px;
}

* {
  box-sizing: border-box;
}
}

.header {
  border: 1px solid red;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  }

  }

[class*="col-"] {
  float: left;
padding: 15px;
border: 1px solid red;
}

/*for desktop: */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  div.example {
    font-size: 50%;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media screen and (min-width: 600px) {
  div.example {
    font-size: 100%;
  }
}


